
{% extends "base_vendas.html" %}
    {% block content %} 
      <h2 class="h1-title-cad">Bem vindo à Organic's</h2>
      <div class="container">
        <div class="pesquisa-flex-vendas">
            <form action="/hortifruti_pesquisa"class="col-12 col-lg-auto mb-3 mb-lg-0 pesquisa" role="search" method="GET">
                <input type="search" name="pesquisa"class="form-control" placeholder="Pesquise aqui" aria-label="Search">
            </form>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-filter" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar por...
                </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/vendas_filtro_preco_crescente">Preço crescente</a></li>
                        <li><a class="dropdown-item" href="/vendas_filtro_preco_decrescente">Preço decrescente</a></li>
                        <li><a class="dropdown-item" href="/vendas_filtro_quantidade_crescente">Quantidade crescente</a></li>
                        <li><a class="dropdown-item" href="/vendas_filtro_quantidade_decrescente">Quantidade decrescente</a></li>
                        <li><a class="dropdown-item" href="/vendas_filtro_alfabetico">Ordem alfabética</a></li>
                    </ul>
              </div>
        </div>   
        <div class="btn-pag">
          <a href="/hortifruti/{{pag-1}}">
            <button type="button" class="btn btn-sm btn-outline-secondary">Pagina anterior</button>
          </a>
          <a href="/hortifruti/{{pag+1}}">
            <button type="button" class="btn btn-sm btn-outline-secondary">Proxima pagina</button>
          </a>
        </div>
        <div id="vitrine">
              {% for index,row in catalogo.iterrows()%}

              <div class="col-xl-3 col-md-6">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="/static/img/frutas.png" width="500px" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text" id="{{index}}">{{index}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="/produto_adicionado/{{index}}/{{row['valor']}}">
                            <button  class="btn btn-sm btn-outline-secondary" value="{{row['produtos']}}">Adicionar ao Carrinho</button>
                          </a>
                        </div>
                        <small class="text-muted">R${{row['valor']}}</small>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
          </div>
          <div class="btn-finalizar">
            <a href="/finalizar">
              <button type="button" class="btn btn-sm btn-outline-secondary">Finalizar</button>
            </a>
          </div>
          <div class="btn-pag">
            <a href="/hortifruti/{{pag-1}}">
              <button type="button" class="btn btn-sm btn-outline-secondary">Pagina anterior</button>
            </a>
            <a href="/hortifruti/{{pag+1}}">
              <button type="button" class="btn btn-sm btn-outline-secondary">Proxima pagina</button>
            </a>
          </div>
    </div>
{% endblock %}